name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: '3.14.0-alpha - 3.14.0'
        allow-prereleases: true
        
    - name: Install dependencies
      working-directory: ./backend
      run: |
        pip install -r requirements.txt
        pip install pytest
        
    - name: Run tests
      working-directory: ./backend
      run: pytest || echo "No tests yet, continuing..."
      
    - name: Build the Docker image
      run: docker build . --file docker/Dockerfile.backend --tag twin-api:$(date +%s)
